body { 
    background-color: rgb(76, 7, 76); 
}
h1 { 
    color: white; 
    font-family: 'Silkscreen', sans-serif;
}

.lead { 
    color: white; 
}
#response-img{
    height: 60vh;
    width: 60vh;

}
#response-img:hover { 
    scale: 1.3; 
    transition: 2s; 
}